langchain==0.1.16
langchain-community==0.0.34
langchain-experimental==0.0.50
langchain-core==0.1.35
langchain-groq==0.0.3
neo4j==5.20.0
pyvis==0.3.2
sentence-transformers==2.2.2
huggingface-hub==0.22.2
pydantic==2.6.4
tqdm==4.66.4
wikipedia==1.4.0
ipython==8.24.0
ipywidgets==8.1.2
notebook==7.2.0
